<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Hellenic Tutorials. All rights reserved.
  </p>
  <footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Hellenic Tutorials. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-400 mt-2">
    Built by <a
      href="https://www.facebook.com/HellenicTutorials"
      target="_blank"
      rel="noopener"
      class="hover:text-blue-600 underline underline-offset-2">
      Hellenic Tutorials
    </a>
  </p>
</footer>
